@use './variables' as *;

.contact {
    position: relative;
    height: 750px;
    background-color: $secondaryColor;

    .wrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        h2 {
            font-family: $titleFont;
            font-size: 3rem;
            color: $secondaryFontColor;
            margin: 0;
            padding-top: 30px;
        }

        .contactIcons {
            font-size: 1.5rem;
            color: $quinaryColor;
            margin-top: 10px;
            margin-bottom: 10px;

            i {
                padding-right: 10px;
            }

            .devicon-linkedin-plain:hover, .devicon-linkedin-plain:focus {
                transition: 0.25s;
                color: $secondaryFontColor;
            }

            .devicon-github-original:hover, .devicon-github-original:focus {
                transition: 0.25s;
                color: #a4048b;
            }

            .fa-envelope:hover, .fa-envelope:focus {
                transition: 0.25s;
                color: #c71610;
            }
        }

        p {
            font-size: 1rem;
            font-weight: 700;
            color: $secondaryFontColor;
        }

        .form {
            width: 50%;

            form {
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: flex-start;

                input{
                    width: 100%;
                }

                textarea {
                    width: 100%;
                }

                label {
                    font-size: 1rem;
                    font-weight: 700;
                    color: $secondaryFontColor;
                    padding-top: 10px;
                    padding-bottom: 10px;
                }

                button {
                    margin-top: 15px;
                    align-self: center;
                }
            }
        }
    }
}