@use './variables' as *;

.projects {
    position: relative;
    background-color: $quaternaryColor;
    padding-top: 30px;

    .wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;

        h2 {
            font-family: $titleFont;
            font-size: 3rem;
            color: $primaryColor;
            margin: 30px 0 30px 0;
        }

        ul {
            padding: 0;
            list-style: none;
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 25px;

            li {
                width: 100%;
                height: 300px;
                border: 20px $secondaryFontColor solid;
                border-radius: 10px;
                background-color: $secondaryFontColor;
                display: flex;
            }

            img {
                width: 40%;
                margin-right: 20px;
            }

            article {
                width: 60%;
            }

            .projectBudget{
                display: flex;
                align-items: center;

                h3 {
                    font-size: 2rem;
                    margin: 0;
                }

                .codeSkill {
                    font-size: 1rem;
                    color: $primaryColor;
                    font-weight: 700;
                }

                p{
                    font-size: 0.8rem;
                    font-weight: 700;
                }

                .live {
                    margin-right: 15px;
                }
            }

            .projectPokemon{
                display: flex;
                align-items: center;
            
                h3 {
                    font-size: 2rem;
                    margin: 0;
                }
            
                .codeSkill {
                    font-size: 1rem;
                    color: $primaryColor;
                    font-weight: 700;
                }
            
                p {
                    font-size: 0.8rem;
                    font-weight: 700;
                }

                .live {
                    margin-right: 15px;
                }
            }

            .projectAnime{
                display: flex;
                align-items: center;
            
                h3 {
                    font-size: 2rem;
                    margin: 0;
                }
            
                .codeSkill {
                    font-size: 1rem;
                    color: $primaryColor;
                    font-weight: 700;
                }
            
                p {
                    font-size: 0.8rem;
                    font-weight: 700;
                }

                .live {
                    margin-right: 15px;
                }
            }
        }
    }
}