@use './variables' as *;

.skills {
    position: relative;
    height: 430px;
    margin: 0;
    background-color: $tertiaryColor;

    .wrapper {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        h2 {
            height: 30%;
            font-family: $titleFont;
            font-size: 3rem;
            margin: 0;
        }

        .iconSkills {
            height: 30%;
            width: 100%;

            ul {
                margin: 0;
                display: flex;
                justify-content: space-between;
                text-align: center;
                list-style: none;

                i {
                    font-size: 4rem;
                    color: $primaryFontColor;
                }

                .devicon-html5-plain-wordmark:hover, .devicon-html5-plain-wordmark:focus {
                    transition: 0.25s;
                    color: #e34c26;
                }

                .devicon-css3-plain-wordmark:hover, .devicon-css3-plain-wordmark:focus {
                    transition: 0.25s;
                    color: #264de4;
                }
                               
                .devicon-sass-original:hover, .devicon-sass-original:focus {
                    transition: 0.25s;
                    color: #cc6699;
                }

                .devicon-javascript-plain:hover, .devicon-javascript-plain:focus {
                    transition: 0.25s;
                    color: #f0db4f;
                }

                .devicon-jquery-plain-wordmark:hover, .devicon-jquery-plain-wordmark:focus {
                    transition: 0.25s;
                    color: #0769ad;
                }

                .devicon-nodejs-plain-wordmark:hover, .devicon-nodejs-plain-wordmark:focus {
                    transition: 0.25s;
                    color: #3c873a;
                }

                .devicon-react-original-wordmark:hover, .devicon-react-original-wordmark:focus {
                    transition: 0.25s;
                    color: #88dded;
                }

                .devicon-git-plain-wordmark:hover, .devicon-git-plain-wordmark:focus {
                    transition: 0.25s;
                    color: #f34f29;
                }

                .devicon-github-original-wordmark:hover, .devicon-github-original-wordmark:focus {
                    transition: 0.25s;
                    color: #a4048b;
                }

                .devicon-firebase-plain-wordmark:hover, .devicon-firebase-plain-wordmark:focus{
                    transition: 0.25s;
                    color: #f6820d;

                }
            }     
        }
    }
}