$primaryFontColor: #15181a;
$secondaryFontColor: #FFFFFF;


$primaryColor: #424B6D;
$secondaryColor: #5169BD;
$tertiaryColor: #B6B0FC; 
$quaternaryColor: #F2F4F5;
$quinaryColor: #EEAF98; 


$titleFont: 'Playfair Display', serif;
$bodyFont: 'Source Sans Pro', sans-serif;